body {
    margin: 0;
    overflow: hidden;
    background-color: #222;
}

#element {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    background-color: rgb(190, 80, 245);
    border-radius: 50%;
}

