body {
  background-color: #f9f9f9;
  padding: 40px;
  text-align: center;
}

h1 {
  color: #333;
  margin-bottom: 30px;
}

bloc {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  max-width: 600px;
  margin: 20px auto;
}

#texteACopier {
  margin-bottom: 15px;
}

#copierBtn {
  padding: 10px 20px;
  background-color: #4374b8;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#copierBtn:hover {
  background-color: #2a61af;
}

#confirmationMessage {
  margin-top: 20px;
  font-weight: bold;
  color: #333;
}
